<!DOCTYPE html >
<html>
<head>
<title>MusicLibrary</title>
<link rel="stylesheet" href="<% request.uri_base %>/css/style.css" />

<!-- Grab jQuery from a CDN, fall back to local if necessary -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">/* <![CDATA[ */
    !window.jQuery && document.write('<script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery.min.js"><\/script>')
/* ]]> */</script>

</head>
<body>
<% IF session.user %>
	<a href="/users/<% session.user %>">Профиль</a>
	<a href="/users">Список пользователей</a>
	<a href="/albums/new">Новый альбом</a>
	<a href="/tracks/new">Новый трек</a>
	<a href="/parser">Парсер</a>
	<a href="/logout">Выйти</a>
<% ELSE %>
	<a href="/login">Войти</a>
	<a href="/users/new">Зарегистрироваться</a>
<% END %>
<br>
<% if err %><p>Ошибка: <% err %></p><% end %>
<% content %>
<div id="footer">
Powered by <a href="http://perldancer.org/">Dancer</a> <% dancer_version %>
</div>
</body>
</html>
