<h1>Редактирование альбома</h1>

<form action="/albums/<% album.id %>" method="POST">
	<label>Альбом</label>
	<input type="text" name="album" value="<% album.album %>"><br>
	<label>Год</label>
	<input type="number" name="year" value="<% album.year %>"><br>
	<label>Группа</label>
	<input type="text" name="band" value="<% album.band %>"><br>
	<button type="submit">Изменить</button>
</form>

