<h1>Новый альбом</h1>

<form action="/albums" method="POST">
	<label>Альбом</label>
	<input type="text" name="album"><br>
	<label>Год</label>
	<input type="number" name="year"><br>
	<label>Группа</label>
	<input type="text" name="band"><br>
	<button type="submit">Создать</button>
</form>

